In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [33]:
df = pd.read_csv("./Opiniones_Expedia.csv")
df.drop("Unnamed: 0", axis = 1, inplace = True)

In [34]:
df

,calificaciones,fechas,reseñas,autor
0,5 de 5. Excelente,7 de may de 2021,Sin reseña,Mallinaly
1,5 de 5. Excelente,6 de may de 2021,Sin reseña,Arturo
2,5 de 5. Excelente,15 de abr de 2021,NaN,Graciela
3,5 de 5. Excelente,3 de abr de 2021,Sin reseña,Adolfo
4,5 de 5. Excelente,24 de mar de 2021,"Este Hotel es un imprecionante edificio, lleno...",Cliente verificado
...,...,...,...,...
1009,2 de 5. Malo,23 de ago de 2017,Day and night work on the square. Lots of nois...,"Patrick, Lyon. France"
1010,5 de 5. Excelente,23 de ago de 2017,"Great hotel to stay, the staff was great very ...",Cliente verificado
1011,5 de 5. Excelente,21 de ago de 2017,Sin reseña,Eugenio
1012,5 de 5. Excelente,21 de ago de 2017,The welcome was amazing: a glass of champagne ...,"Curt, Denton, TX"
1013,4 de 5. Bueno,20 de ago de 2017,A splendid & historical hotel that has been we...,Cliente verificado

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014 entries, 0 to 1013
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   calificaciones  1014 non-null   object
 1   fechas          1014 non-null   object
 2   reseñas         1005 non-null   object
 3   autor           1014 non-null   object
dtypes: object(4)
memory usage: 31.8+ KB

In [36]:
# Rellenar los valores faltantes 
df.fillna("Sin reseña", inplace = True)

In [37]:
# Cambiamos el formato de la calificación
calificaciones = []

for calificacion in df["calificaciones"]:
    calificaciones.append(int(calificacion[0]))
    
df["calificaciones"] = calificaciones

In [38]:
# Separamos los meses y los años
meses = []
años = []

for fecha in df["fechas"]:
    sep = fecha.split()
    meses.append(sep[2])
    años.append(int(sep[-1]))

df["año"] = años

In [39]:
# Cambiamos las fechas con str a int
mes_num = []
meses_transf = {"ene": 1, "feb": 2, "mar": 3, "abr": 4, "may": 5, "jun": 6, "jul": 7, "ago": 8, "sep": 9, "oct": 10, "nov": 11, "dic": 12}

for mes in meses:
    if mes in meses_transf.keys():
        mes_num.append(meses_transf[mes])
        
df["mes"] = mes_num

In [42]:
# Eliminar fechas y autor que no es necesario
df.drop(["fechas", "autor"], axis = 1, inplace = True)

In [44]:
# Retroalimentación positiva si la calificacion es mayor a 4 y si es menor negativa (1,0)
retro = []
for cali in df["calificaciones"]:
    if cali > 3:
        retro.append(1)
    else:
        retro.append(0)
        
df["retroalimentacion"] = retro

In [47]:
# Eliminar las calificaciones ya que nos quedaremos con la calificación
df.drop("calificaciones", axis = 1, inplace = True)

In [48]:
df.head()

,reseñas,año,mes,retroalimentacion
0,Sin reseña,2021,5,1
1,Sin reseña,2021,5,1
2,Sin reseña,2021,4,1
3,Sin reseña,2021,4,1
4,"Este Hotel es un imprecionante edificio, lleno...",2021,3,1

In [49]:
df.describe()

               año          mes  retroalimentacion
count  1014.000000  1014.000000        1014.000000
mean   2018.754438     6.569034           0.987179
std       1.017058     3.550047           0.112555
min    2017.000000     1.000000           0.000000
25%    2018.000000     3.000000           1.000000
50%    2019.000000     7.000000           1.000000
75%    2019.000000    10.000000           1.000000
max    2021.000000    12.000000           1.000000

In [50]:
# Renombrar las columnas
df.columns = ["opinion","año","mes","retroalimentacion"]

In [51]:
df.head(1)

      opinion   año  mes  retroalimentacion
0  Sin reseña  2021    5                  1

In [52]:
# Guardamos los datos
df.to_csv("Preprocesado_Expedia.csv")